{% extends "mainapp/wrapper.html" %} 
{% load static %}
{% block content %}
 <style>
   p {
    margin-top: 0.1em; /* Отступ сверху */
    margin-bottom: 0em; /* Отступ снизу */
   }
  </style>
   <style>
   p1 {
    margin-top: 1em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
   }
  </style>
<p>
<img class="d-block mx-auto mb-4" src="{% static 'mainapp/image/2022-11-26_19-00-45.png' %}" alt="" width="429" height="200">
</p>
<p style="background:#DCDCDC"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #D3D3D3"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #C0C0C0"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #A9A9A9"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #808080"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #696969"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #778899"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #708090"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #2F4F4F"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p style="background: #000000"><font color="#ffffff">встроенный блок NEWS через include</font></p>
<p1>&nbsp;</p1>
{% endblock %}