{% extends "mainapp/wrapper.html" %} 
{% load static %}
{% block content %}
<p>
<img class="d-block mx-auto mb-4" src="{% static 'mainapp/image/2022-11-26_19-03-46.png' %}" alt="" width="531" height="204">
</p>
<p>
<h6>Спецсимволы:
&nbsp;&pound;&euro;&para;&sect;&copy;&reg;&trade;&deg;
&plusmn;&frac14;&frac12;&frac34;&times;&divide;&fnof;</h6>
<h6 >Греческие буквы: 
&Alpha;&Beta;&Gamma;&Delta;&Epsilon;&Zeta;&Eta;&Theta;&Iota;&Kappa;&Lambda;&Mu;&Nu;&Xi;&Omicron;&Pi;&Rho;&Sigma;&Tau;&Upsilon;&Phi;&Chi;&Psi;&Omega;&alpha;&beta;&gamma;&delta;&epsilon;&zeta;&eta;&theta;&iota;&kappa;&lambda;&mu;&nu;&xi;&omicron;&pi;&rho;&sigmaf;&sigma;&tau;&upsilon;&phi;&chi;&psi;&omega;</h6>
<h6 >Стрелки:
&larr;&uarr;&rarr;&darr;&harr;</h6>
<h6>Прочие символы:
&spades;&clubs;&hearts;&diams;&quot;&amp;&lt;&gt;</h6>
<h6 >Знаки пунктуации:
&hellip;&prime;&Prime;</h6>
<h6 >Общая пунктуация:
&ndash;&mdash;&lsquo;&rsquo;&sbquo;&ldquo;&rdquo;&bdquo;&laquo;&raquo;</h6>
<h6>&nbsp;&nbsp;&nbsp;&nbsp;</h6>

</p>
{% endblock %}