<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Заголовок страницы</title>

	{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}" type="text/css">
<!-- CSS only 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
	</head>
	<body body style="background: #778899">
	
<!--{% include "mainapp/includes/some_html.html"%} -->

<div class="jumbotron" body style="background: #778899">
<div class="container">
<h1><font color="#ffffff">Hello World!</font></h1>


<p>
<a href="/" class="btn btn-success  btn-lg"> Main page</a>
<a href="/news" class="btn btn-primary  btn-lg">News &raquo;</a>
<a href="/contact" class="btn btn-info  btn-lg">Contacts</a>
<a href="/symbols" class="btn btn-secondary  btn-lg">Symbols</a>
</p><p>&nbsp;</p>
</div>
</div>

  <div class="px-4 py-5 my-5 text-center" body style="background: white">
    <h1 class="display-7 fw-bold">{% include "mainapp/includes/some_html.html"%}</h1>

    <div class="col-lg-6 mx-auto" >
     	{% block content %}
{% endblock %}

     	{% block content2 %}
{% endblock %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
<div class="container">
<hr>
&copy; All rights reserved 2022
</div>
<div class="jumbotron" body style="background: #778899">
<div class="container">
<h1>Hello World!</h1>
</div>
</div>
</body>
</html>